.suggestions {
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    max-height: 150px;
    /* Adjust as needed */
    overflow-y: auto;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li.suggestion-active,
.suggestions li:hover {
    background-color: #f7f7f7;
}

.no-suggestions {
    color: #999;
    padding: 10px;
}