/* Add styling for the app container and friend recommendation */
.app-container {
    display: flex;
    justify-content: center;
}

/* Newsfeed.css */
.newsfeed {
    max-width: 600px;
    margin-right: 20px;
}